n8n-workflow-whatsapp-agent.json
{
    "name": "KmerBeauty WhatsApp Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Tu es l'assistant virtuel KmerBeauty, une plateforme de réservation de services de beauté au Cameroun.\n\n⚠️ RÈGLE CRITIQUE POUR LA RECHERCHE:\n1. Si le client veut un service précis, APPELLE `search_services` pour avoir l'ID.\n2. Si tu n'as pas la ville, DEMANDE-LA au client avant de chercher les prestataires. (Ne cherche pas sans ville sauf si le client insiste).\n3. Une fois que tu as l'ID du service ET la ville, APPELLE `list_therapists(city=..., serviceId=...)`.\n\nCAS TYPIQUE:\nClient: \"Je veux un massage pierre chaude\"\nToi: `search_services(\"massage pierre chaude\")`\n(Tu trouves l'ID \"abc-123\")\nToi à l'utilisateur: \"J'ai trouvé ce massage à 10 000 FCFA. Dans quelle ville êtes-vous (Douala ou Yaoundé) ?\"\nClient: \"Douala\"\nToi: `list_therapists(city=\"Douala\", serviceId=\"abc-123\")`\n\nSI AUCUN RÉSULTAT:\n- Si `list_therapists` renvoie vide pour un quartier précis, réessaie SANS le quartier.\n- Si `list_therapists` renvoie vide pour la ville entière, dis-le honnêtement."
                },
                "agent": "conversationalAgent"
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-20241022",
                "options": {}
            },
            "id": "claude-model",
            "name": "Claude",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.2,
            "position": [
                500,
                500
            ],
            "credentials": {
                "anthropicApi": {
                    "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
                    "name": "Anthropic API"
                }
            }
        },
        {
            "parameters": {
                "name": "search_services",
                "description": "RECHERCHE DISPONIBLE SERVICES. Appelle CECI EN PREMIER quand un client demande un service. Retourne une liste de services avec leurs IDs. Utilise cet ID pour list_therapists.",
                "method": "GET",
                "url": "https://kmerbeauty-production.up.railway.app/api/v1/services/search",
                "sendQuery": true,
                "specifyQuery": "keypair",
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ $fromAI('query', 'Le terme de recherche') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "tool-search-services",
            "name": "search_services",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                300,
                500
            ]
        },
        {
            "parameters": {
                "name": "list_therapists",
                "description": "TROUVE PRESTATAIRES. Utilise 'serviceId' (obtenu via search_services) pour filtrer. 'quarter' est OPTIONNEL: si non fourni, cherche dans toute la ville.",
                "method": "GET",
                "url": "https://kmerbeauty-production.up.railway.app/api/v1/therapists",
                "sendQuery": true,
                "specifyQuery": "keypair",
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "city",
                            "value": "={{ $fromAI('city', 'La ville (ex: Douala, Yaoundé)', true) }}"
                        },
                        {
                            "name": "quarter",
                            "value": "={{ $fromAI('quarter', 'Le quartier (ex: Akwa, Bonanjo)', false) }}"
                        },
                        {
                            "name": "serviceId",
                            "value": "={{ $fromAI('serviceId', 'ID du service pour filtrer', true) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "tool-list-therapists",
            "name": "list_therapists",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                400,
                500
            ]
        },
        {
            "parameters": {
                "name": "check_availability",
                "description": "VERIFIE DISPONIBILITE. Appelle ceci avant de proposer une réservation pour voir si le prestataire peut accepter des RDV.",
                "method": "GET",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/therapists/{{ $fromAI('therapistId', 'ID du prestataire') }}/availability",
                "options": {}
            },
            "id": "tool-check-availability",
            "name": "check_availability",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "name": "create_booking",
                "description": "RESERVE UN RDV. Confirme d'abord: service, prestataire, date/heure et numéro client (+237...). Crée le compte client si besoin.",
                "method": "POST",
                "url": "https://kmerbeauty-production.up.railway.app/api/v1/bookings/agent",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-agent-key",
                            "value": "={{ $env.WHATSAPP_AGENT_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"customerPhone\": \"{{ $fromAI('customerPhone', 'Numéro au format +237XXXXXXXXX') }}\",\n  \"customerName\": \"{{ $fromAI('customerName', 'Nom du client', true) }}\",\n  \"serviceIds\": {{ $fromAI('serviceIds', 'Tableau des IDs de services ex: [\"id1\", \"id2\"]') }},\n  \"therapistId\": \"{{ $fromAI('therapistId', 'ID du prestataire') }}\",\n  \"scheduledAt\": \"{{ $fromAI('scheduledAt', 'Date ISO 8601 ex: 2024-01-20T10:00:00Z') }}\",\n  \"city\": \"{{ $fromAI('city', 'Ville') }}\",\n  \"quarter\": \"{{ $fromAI('quarter', 'Quartier', true) }}\",\n  \"street\": \"{{ $fromAI('street', 'Adresse précise', true) }}\",\n  \"notes\": \"{{ $fromAI('notes', 'Notes du client', true) }}\"\n}",
                "options": {}
            },
            "id": "tool-create-booking",
            "name": "create_booking",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                600,
                600
            ]
        },
        {
            "parameters": {
                "name": "get_client_bookings",
                "description": "HISTORIQUE CLIENT. Utilise ceci si un client demande 'Quels sont mes RDV ?' ou veut voir ses réservations passées/futures.",
                "method": "GET",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/bookings/agent/client/{{ $fromAI('phone', 'Numéro au format +237XXXXXXXXX') }}",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-agent-key",
                            "value": "={{ $env.WHATSAPP_AGENT_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "tool-get-bookings",
            "name": "get_client_bookings",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                700,
                600
            ]
        },
        {
            "parameters": {
                "name": "modify_booking",
                "description": "CHANGE RDV. Pour modifier date, lieu ou notes. Nécessite l'ID du booking.",
                "method": "PATCH",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/bookings/agent/{{ $fromAI('bookingId', 'ID de la réservation') }}",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-agent-key",
                            "value": "={{ $env.WHATSAPP_AGENT_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"scheduledAt\": \"{{ $fromAI('scheduledAt', 'Nouvelle date ISO 8601', true) }}\",\n  \"notes\": \"{{ $fromAI('notes', 'Nouvelles notes', true) }}\",\n  \"quarter\": \"{{ $fromAI('quarter', 'Nouveau quartier', true) }}\",\n  \"street\": \"{{ $fromAI('street', 'Nouvelle adresse', true) }}\"\n}",
                "options": {}
            },
            "id": "tool-modify-booking",
            "name": "modify_booking",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                300,
                700
            ]
        },
        {
            "parameters": {
                "name": "cancel_booking",
                "description": "ANNULE RDV. Demande toujours une raison. Nécessite l'ID du booking.",
                "method": "PATCH",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/bookings/agent/{{ $fromAI('bookingId', 'ID de la réservation') }}/cancel",
                "sendHeaders": true,
                "specifyHeaders": "keypair",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-agent-key",
                            "value": "={{ $env.WHATSAPP_AGENT_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"reason\": \"{{ $fromAI('reason', 'Raison de l annulation', true) }}\"\n}",
                "options": {}
            },
            "id": "tool-cancel-booking",
            "name": "cancel_booking",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                400,
                700
            ]
        },
        {
            "parameters": {
                "name": "list_all_services",
                "description": "CATALOGUE COMPLET. Liste TOUS les services. Utilise seulement si le client demande 'Quels services avez-vous ?'. Trop de résultats pour une recherche précise.",
                "method": "GET",
                "url": "https://kmerbeauty-production.up.railway.app/api/v1/services",
                "sendQuery": true,
                "specifyQuery": "keypair",
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "category",
                            "value": "={{ $fromAI('category', 'Catégorie de service (optionnel)', true) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "tool-list-services",
            "name": "list_all_services",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                500,
                700
            ]
        },
        {
            "parameters": {
                "name": "get_therapist_details",
                "description": "DETAILS PRESTATAIRE. Affiche bio, photos, note. Utile pour 'montrez-moi son profil'.",
                "method": "GET",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/therapists/{{ $fromAI('therapistId', 'ID du prestataire') }}",
                "options": {}
            },
            "id": "tool-get-therapist",
            "name": "get_therapist_details",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                600,
                700
            ]
        },
        {
            "parameters": {
                "name": "get_therapist_services",
                "description": "PRIX PRESTATAIRE. Liste les services et tarifs SPÉCIFIQUES d'un prestataire donné.",
                "method": "GET",
                "url": "=https://kmerbeauty-production.up.railway.app/api/v1/therapists/{{ $fromAI('therapistId', 'ID du prestataire') }}/services",
                "options": {}
            },
            "id": "tool-get-therapist-services",
            "name": "get_therapist_services",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                700,
                700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                750,
                300
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "search_services": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "list_therapists": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "check_availability": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "create_booking": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "get_client_bookings": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "modify_booking": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "cancel_booking": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "list_all_services": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "get_therapist_details": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "get_therapist_services": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2024-01-20T00:00:00.000Z",
    "versionId": "1"
}